In [1]:
import pandas as pd
import sqlite3

conn = sqlite3.connect("database/reporting.db")
log_df = pd.read_sql_query("SELECT * FROM upload_log WHERE table_alias = 'c0_budgetary_execution_details'", conn)
log_df

,id,filename,table_name,uploaded_at,rows,cols,report_name,table_alias
0,6,C0_Budgetary_Execution_Details.xlsx,raw_c0_budgetary_execution_details,2025-05-05T08:46:12.127187,43,25,Quarterly_Report,c0_budgetary_execution_details